<h1 class="text-xs-center"> Message box</h1>
<% if !@messages.blank? %>
  <ul>
    <% @messages.each do |m| %>
      <% unless has_read? m %>
      <strong>
        <li> Messages has been receive at: <%= format_time(m.created_at) %></li>
      </strong>
      <% else %>
        <li> Messages has been read at: <%= format_time(m.updated_at) %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <h2> Messages box empty</h2>
<% end %>
