<h1 class="text-xs-center"> Message box</h1>
<% if !@messages.blank? %>
  <ul>
    <% @messages.each do |m| %>
      <% unless has_read? m %>
      <strong>
        <li> 
          <%= link_to "Messages has been receive at: 
                              #{format_time(m.notification.created_at)}", message_path(m) %>
        </li>
      </strong>
      <% else %>
        <li> Messages has been read at: <%= format_time(m.notification.updated_at) %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <h2> Messages box empty</h2>
<% end %>
