<div class="jumbotron jumbotron-fluid" style= "background-color: #563d7c; color: #fff">
  <h1 class="display-3 text-xs-center">Inbox</h1>
</div>
<% if !@messages.blank? %>
  <div class="list-group">
    <% @messages.each do |m| %>
      <% unless @block_list.include?(m.user_id.to_s) %>
        <% unless has_read? m %>
            <%= link_to "Messages has been receive at: 
            #{format_time(m.notification.created_at)}", 
            message_path(m), class: "list-group-item"%>
        <% else %>
            <%= link_to "Messages has been read at: 
            #{format_time(m.notification.created_at)}", 
            '#', class: "list-group-item disabled" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h2 class="text-xs-center"> Your inbox is empty</h2>
<% end %>
