<h1 class="display-4 text-xs-center"> Inbox</h1>
<% if !@messages.blank? %>
  <div class="list-group">
    <% @messages.each do |m| %>
      <% unless has_read? m %>
          <%= link_to "Messages has been receive at: 
          #{format_time(m.notification.created_at)}", 
          message_path(m), class: "list-group-item"%>
      <% else %>
          <%= link_to "Messages has been read at: 
          #{format_time(m.notification.created_at)}", 
          '#', class: "list-group-item disabled" %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h2> Messages box empty</h2>
<% end %>
