<h1 class="display-4 text-xs-center">New Message</h1>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= simple_form_for @message do |f| %>
      <%= f.input :to_id, label: "To id:" %>
      <%= f.input :content, label: "Body:" %>
      <div class="text-xs-center">
        <%= f.button :submit, "Send message", class:"btn btn-secondary btn-block"%>
      </div>
    <% end %>
  </div>
</div>
