<h1 class="display-4 text-xs-center"> Outbox</h1>
<% if !@messages.blank? %>
  <ul class="list-group">
    <% @messages.each do |m| %>
      <% unless has_read? m %>
        <li class="list-group-item"> 
          <strong>
            Message has been sent to <%= recipient_of_message(m).email %> at: 
            <%= format_time(m.created_at) %>
          </strong>
      </strong>
      <% else %>
        <li class="list-group-item disabled"> Message to <%= recipient_of_message(m).email %> has been read at: 
                            <%= format_time(m.notification.updated_at) %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <h2> Messages box empty</h2>
<% end %>
